.vscode/settings.json
basic/__pycache__/homework1.cpython-38.pyc
ch2/__pycache__/guer01.cpython-37.pyc
ch2/__pycache__/lab5.cpython-37.pyc
ch2/__pycache__/lab5.cpython-38.pyc
ch2/__pycache__/lab6.cpython-38.pyc
